[submodule "bmi-calculator"]
	path = bmi-calculator
	url = https://github.com/AnishkaR10/BMI-Calculator.git
[submodule "mood-fm"]
	path = mood-fm
	url = https://github.com/SPareshKumar/Mood.FM.git
[submodule "vital-cart"]
	path = vital-cart
	url = https://github.com/AnishkaR10/VitalCart.git
[submodule "WhatsAppHealthLog"]
	path = WhatsAppHealthLog
	url = https://github.com/SPareshKumar/Smart-Health-Log-via-WhatsApp.git
[submodule "WiseBites"]
	path = WiseBites
	url = https://github.com/AnishkaR10/Indian-Diet-Guide.git
